<div>
    <form [formGroup]="profile" (ngSubmit)="handleSubmit()">
        <div>
            <p>
                FirstName: <input type="text" formControlName="firstname">
                <span [hidden]="profile.controls['firstname'].valid || profile.controls['firstname'].pristine" class="text-danger"> *please enter FirstName</span>
            </p>
        </div>
        <div>
            <p>
                LastName: <input type="text" formControlName="lastname">
                <span [hidden]="profile.controls['lastname'].valid || profile.controls['lastname'].pristine" class="text-danger"> *please enter LastName</span>
            </p>
        </div>
        <div>
            <button type="submit" value="submit" [disabled]="profile.invalid">Submit</button>
        </div>
    </form>
</div>

<div>
    Profile Value: {{profile.value | json}}
</div>