<div class="container m-3">
    <div class="row p-6">
        <div class="col p-3">
            <p>FirstName: <input type="text" #first></p>
            <p>LastName: <input type="text" #last></p>
            <button (click) = 'save(first.value, last.value)'>Save</button>
        </div>
        <div class="col p-3">
            <table class="table table-dark table-boardered">
                <thead>
                    <tr>
                        <td>FirstName</td><td>LastName</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of arr">
                        <td>{{i.fname}}</td><td>{{i.lname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>